{{define "index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.title}}</title>
  <meta name="description" content="{{.description}}"/>
  <meta name="keywords" content="{{.keywords}}"/>
  {{if .doIndex}}
  <meta name="robots" content="index,follow"/>
  {{end}}
  <link href="/assets/style.css" rel="stylesheet">
</head>
<body>
{{ unescape .header }}
<div id="header" align="center">
  <h1>{{.title}}</h1>
  <p id="description">{{.description}}</p>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Minimum</th>
    <th class="val">Value</th>
    <th>Maximum</th>
    <th>Error</th>
    <th title="Server time"><span id="clock">...</span></th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  {{ range $index, $value := .sensors }}
  <tr>
    <th title="{{ range $key, $val := $value.Tags }} {{ $key }}={{ $val }} {{ end }}">
      {{$value.Name}}
    </th>
    <td>{{$value.Type}}</td>
    <td>{{$value.Minimum}}</td>
    <td class="val" id="value_{{$value.Name}}">{{printf "%.4f" $value.Value}}</td>
    <td>{{$value.Maximum}}</td>
    <td class="err" id="error_{{$value.Name}}">{{$value.Error}}</td>
    <td id="timestamp_{{$value.Name}}">{{$value.UpdatedAt.Format "15:04:05"}}</td>
    <td>{{$value.Description}}</td>
  </tr>
  {{ end }}
  </tbody>
</table>
<div id="footer">
  <p>
    Additional representations:
    <a href="/json">JSON</a>
    <a href="/metrics">metrics</a>
  </p>
  <p>
    <a href="https://github.com/vodolaz095/dashboard">Version: {{.version}}</a>
  </p>
</div>
<script type="application/javascript" src="/assets/feed.js"></script>
<script type="application/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
  doClock();
  {{ range $index, $value := .sensors }}doSubscribeOn({{$value.Name}});
  {{ end }}
});
</script>
{{ unescape .footer }}
</body>
</html>
{{end}}
